body{
    background-color: antiquewhite;
}
.todo-container {
    display: grid;
    
    /* Adjust the column ratio as needed */
    grid-template-rows: auto;
    gap: 20px; 
}

.buttons-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    gap: 10px;
}

.table-section {
    overflow: auto;
    /* Add scrollbars if needed */
}